<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<import resource="base/config/dataSourcesApplicationContext.xml"/>
<import resource="base/config/repositoriesApplicationContext.xml" />
<import resource="base/config/repositoryFindersApplicationContext.xml"/>
<import resource="base/config/transactionManagerApplicationContext.xml" />
<!-- <import resource="base/config/servicesApplicationContext.xml"/> -->

<!-- 
<bean id="log4jInitializer"
	class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	<property name="staticMethod"
		value="org.springframework.util.Log4jConfigurer.initLogging" />
	<property name="arguments">
		<list>
			<value>base/config/log4j.properties</value>
		</list>
	</property>
</bean>
 -->

	<!--
		Objeto utilizado para crear los diferentes DTOs requeridos por la
		aplicación
	-->
<!-- 	<bean id="dtoFactory" class="zinbig.item.util.dto.DTOFactory" -->
<!-- 		factory-method="getInstance"> -->
<!-- 	</bean> -->

</beans>